@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    <div class="modal fade" id="importModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Import danh sách trực ban</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" asp-action="Index" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <form asp-controller="ProtectDuty" asp-action="ImportFile" enctype="multipart/form-data" method="post" class="w-50">
                        <div class="mb-3">
                            <label class="form-label">Chọn tháng nhập</label>
                        <input type="month" class="form-control" name="monthYearImport" required
                               oninvalid="this.setCustomValidity('Vui lòng chọn tháng')"
                               oninput="this.setCustomValidity('')" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Chọn file CSV</label>
                            <input type="file" class="form-control" accept=".xlsx, .xls, .csv" name="file" required
                               oninvalid="this.setCustomValidity('Vui lòng chọn file nhập')"
                               oninput="this.setCustomValidity('')" />
                        </div>
                        <button type="submit" class="btn btn-primary">Import</button>
                    
                    </form>
                </div>

            </div>
        </div>
    </div>