@*
*@
@{
}
    <!-- <h4>Chức năng</h4> -->
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary mb-2"
               id="manualEntryBtn"
               data-bs-toggle="modal"
               data-bs-target="#createModal"
               >Thêm người trực</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn btn-outline-primary mb-2"
               data-bs-toggle="modal"
               data-bs-target="#importModal">Import từ file</a>
        </li>
    </ul>
    <style>
        .nav-link {
            color: var(--bs-gray-dark) !important;
        }

            .nav-link:hover {
                color: var(--bs-blue) !important;
                background: var(--bs-white) !important;
            }
    </style>
